[alias]
	conf = config --global
	s = status
	A = add -A
	c = commit
	p = push
	b = branch
	co = checkout
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
	su = stash --include-untracked
[user]
	email = dincio.montesi@gmail.com
	name = Bietola
[credential]
	helper = store
[submodule]
	recurse = true
