[alias]
	conf = config --global
	s = status
	A = add -A
	c = commit
	p = push
	b = branch
	co = checkout
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
	su = stash --include-untracked
	adog = log --all --decorate --oneline --graph
	cano = commit --amend --no-edit
	r3 = rebase --interactive HEAD~3
	r2 = rebase --interactive HEAD~2
	r1 = rebase --interactive HEAD~1
	psu = push --set-upstream
	psuo = push --set-upstream origin
[user]
	email = dincio.montesi@gmail.com
	name = Bietola
[credential]
	helper = store
[submodule]
	recurse = true
[pull]
	rebase = false
[alis]
	cano = commit --amend --no-edit
[init]
	defaultBranch = main
