[submodule "dotfiles/nvim"]
	path = dotfiles/nvim
	url = https://github.com/Bietola/nvim-config
[submodule "dotfiles/.talon/user/knausj_talon"]
	path = dotfiles/.talon/user/knausj_talon
	url = https://github.com/Bietola/knausj_talon
