[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dincio/streams]
row=6
col=2

[/home/dincio/sync]
row=0
col=1

[/home/dincio/code]
row=8
col=0

[/home/dincio/transcriptions]
row=7
col=2

[/home/dincio/programs]
row=2
col=1

[/home/dincio/games]
row=9
col=2

[/home/dincio/config]
row=7
col=0

[/home/dincio/composed]
row=0
col=2

[/home/dincio/imgs]
row=8
col=1

[/home/dincio/lmms]
row=1
col=2

[/home/dincio/logs]
row=5
col=2

[/home/dincio/torrents]
row=4
col=1

[/home/dincio/corpi]
row=0
col=3

[/home/dincio/courses]
row=5
col=0

[/home/dincio/2.mp4]
row=2
col=3

[/home/dincio/movies]
row=6
col=1

[/home/dincio/tmp]
row=10
col=0

[/home/dincio/bin]
row=4
col=0

[/home/dincio/Downloads]
row=7
col=1

[/home/dincio/life]
row=1
col=1

[/home/dincio/rosegarden]
row=10
col=2

[/home/dincio/anime-w-long-intro.wav]
row=3
col=3

[/home/dincio/perl5]
row=4
col=2

[/home/dincio/books]
row=9
col=1

[/home/dincio/test]
row=6
col=0

[/home/dincio/written]
row=5
col=1

[/home/dincio/faces]
row=2
col=2

[/home/dincio/music]
row=9
col=0

[/home/dincio/reps]
row=3
col=0

[/home/dincio/vms]
row=3
col=2

[/home/dincio/Sync]
row=8
col=2

[/home/dincio/bu]
row=3
col=1

[/home/dincio/1.mp4]
row=1
col=3

[/home/dincio/MuseScore3]
row=10
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/dincio]
row=2
col=0

