[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dincio/Desktop/steam.desktop]
row=4
col=1

[/home/dincio/Desktop/hello.png]
row=3
col=1

[/home/dincio/Desktop/simple.jpg]
row=1
col=1

[/home/dincio/Desktop/hello.txt]
row=2
col=1

[/home/dincio/Desktop/thing11.wav]
row=3
col=0

[/home/dincio/Desktop/hack.php]
row=0
col=2

[/home/dincio/Desktop/GOG GALAXY.desktop]
row=4
col=0

[/home/dincio/Desktop/blank.jpg]
row=0
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/dincio]
row=2
col=0

